html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-size: 18px;
    font-family: 'Lucida Sans Unicode';
    line-height: 1.75;
}

h1, h2, h3, h4, h5 {
    color: white;
}

h1 {
    font-size: 32px;
    font-weight: normal;
    text-align: center;
}


h3 {
    text-align: center;
    font-weight: bold;
    text-align: center;
}

h4 {
    font-weight: normal;
    text-align: center;
}

p {
    margin: 25px 0;
    padding: 0;
    color: white;
}

ul, ol {
    margin: 35px 0;
    padding: 0 0 0 20px;
}

ul ul, ol ol, ul ol, ol ul {
    margin: 10px 10px;
}

li {
    margin: 4px 0;
    padding: 0;
}

a {
    color: 	#FF007F;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 1px solid;
}

a:hover {
    background-color: #FF007F;
    color: white;
    text-decoration: none;
}

.main_hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid;
    margin: 10px auto;
    padding: 0;
    max-width: 300px;
    color: #FF007F;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid;
    margin-top: 50px;
    margin-bottom: 40px;
    width: 75%;
    color: #FF007F;
}

body {
    width: 960px;
    margin: 0 auto;
    padding: 40px 0;
}

.masthead {
    width: 360px;
    padding: 150px 50px 50px 20px;
    float: left;
}


.main {
    width: 600px;
    padding: 32px 50px 20px;
    margin-left: 360px;
    border-left: 3px solid 	#FF007F;
    min-height: calc(100vh - 80px);
}

.masthead .menu {
    padding-left: 100px;
    direction: ltr;
}

.main .title h1 {
    margin-top: 0;
    margin-bottom: 40px;
}

.main .subtitle {
    font-style: italic;
    text-align: center;
}

.main .about {
    padding-left: 16px;
}

.nav_menu {
    overflow: hidden;
    padding: 0;
}
 
.nav_menu h2{
    margin: 0px;
    float: left;
}

.nav_menu a {
    color: #FF007F;
    padding: 10px;
}

.nav_menu a:hover {
    color: white;
}
  
.nav {
    display: block;
    float: right;
    background-color: dimgray;
}

.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
  
.tile{
    flex-grow: 1;
    border-color: #FF007F;
    border-style: solid;
    padding: 1%;
    width: 25%;
    min-width: 200px;
    margin: 1%;
    text-align: center;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
.nav li {
    float: left;
}
  
.nav li a {
    display: block;
    color: #FF007F;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.nav li a:hover {
    background-color: white;
}